@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 30% 14%;
    --foreground: 240 25% 93%;
    --card: 235 30% 19%;
    --card-foreground: 240 25% 93%;
    --popover: 235 30% 19%;
    --popover-foreground: 240 25% 93%;
    --primary: 351 79% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 27% 20%;
    --secondary-foreground: 240 25% 93%;
    --muted: 240 27% 23%;
    --muted-foreground: 248 12% 65%;
    --accent: 351 79% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 22% 29%;
    --input: 240 22% 29%;
    --ring: 351 79% 59%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
  }
}
